<div class="container-fluid">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      </a>
      <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <i class="far fa-user-circle"></i>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section>
    <!-- Title and Dropdown Query -->
    <h1>
      Principal
    </h1>

    <h3>
      Balance
    </h3>

    <!-- Dropdown -->
    <div class="dropdown d-flex justify-content-end">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Ver Semana
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>

    <!-- Carousel account state -->
    <div id="carouselExampleIndicators" class="carousel slide pt-3" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <div class="">
        <div class="carousel-inner pb-5">
          <div class="carousel-item active">
            <div class="card mb-3" style="max-width: 18rem;">
              <div class="bg-transparent d-flex justify-content-end p-2">
                <div class="dropdown pe-2 ">
                  <button class="border-0 bg-transparent dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div>
              </div>
              <div class="card-body py-0">
                <p class="mb-0'">DE89 3704 0044 0532 0130 00</p>
                <div class="d-flex justify-content-between">
                  <p style="font-size: 26px;">
                    2,560.50  <span style="font-size: 14.5px; color: #9191af;">EUR</span>
                  </p>
                  <p class="d-flex flex-column mb-0" style="font-size: 16.9px; color: #0fb269;">
                    +40% <span style="font-size: 14.5px; color: #9191af;">this week</span>
                  </p>
                </div>
                <div class="d-flex justify-content-center">
                  <img src="https://image.shutterstock.com/image-vector/wavy-waving-line-zigzag-crisscross-260nw-1949138704.jpg" alt="" style="width: 258px;
                  height: 43px;">
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="card mb-3" style="max-width: 18rem;">
              <div class="bg-transparent d-flex justify-content-end p-2">
                <div class="dropdown pe-2 ">
                  <button class="border-0 bg-transparent dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div>
              </div>
              <div class="card-body py-0">
                <p class="mb-0'">DE89 3704 0044 0532 0130 00</p>
                <div class="d-flex justify-content-between">
                  <p style="font-size: 26px;">
                    2,560.50  <span style="font-size: 14.5px; color: #9191af;">EUR</span>
                  </p>
                  <p class="d-flex flex-column mb-0" style="font-size: 16.9px; color: #0fb269;">
                    +40% <span style="font-size: 14.5px; color: #9191af;">this week</span>
                  </p>
                </div>
                <div class="d-flex justify-content-center">
                  <img src="https://image.shutterstock.com/image-vector/wavy-waving-line-zigzag-crisscross-260nw-1949138704.jpg" alt="" style="width: 258px;
                    height: 43px;">
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="card mb-3" style="max-width: 18rem;">
              <div class="bg-transparent d-flex justify-content-end p-2">
                <div class="dropdown pe-2 ">
                  <button class="border-0 bg-transparent dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div>
              </div>
              <div class="card-body py-0">
                <p class="mb-0'">DE89 3704 0044 0532 0130 00</p>
                <div class="d-flex justify-content-between">
                  <p style="font-size: 26px;">
                    2,560.50  <span style="font-size: 14.5px; color: #9191af;">EUR</span>
                  </p>
                  <p class="d-flex flex-column mb-0" style="font-size: 16.9px; color: #0fb269;">
                    +40% <span style="font-size: 14.5px; color: #9191af;">this week</span>
                  </p>
                </div>
                <div class="d-flex justify-content-center">
                  <img src="https://image.shutterstock.com/image-vector/wavy-waving-line-zigzag-crisscross-260nw-1949138704.jpg" alt="" style="width: 258px;
                    height: 43px;">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-sm-none d-md-block">
          <button class="carousel-control-prev mt-5 h-50" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="height: 50%">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>

          <button class="carousel-control-next mt-5 h-50" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </section>

    <!-- Accounts -->

</div>