<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid px-0 d-flex align-items-center">
    <a class="navbar-brand pb-3 ps-2" href="#">
      <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top mt-1">
      <span class="navbrand-name">Wallet.on</span>
    </a>
    <div class="nav-menu pe-2">
      <a class="text-decoration-none text-dark" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
        <i class="fas fa-bars fa-navbar px-3"></i>
      </a>

      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
          </div>
          <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
              Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <button class="navbar-toggler rounded-circle py-2 px-2 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="far fa-user-circle fa-navbar"></i>
    </button>

    <div class="collapse navbar-collapse bg-menu" id="navbarSupportedContent">
      <div class="me-auto mb-2 mb-lg-0 d-flex justify-content-end align-items-center">
        <i class="fas fa-search navbar-icons px-3"></i>
        <i class="far fa-bell navbar-icons px-3 bell-notification"></i>
        <div class="d-flex flex-wrap justify-content-between ms-2 add-account">
          <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <!-- Title and Dropdown Query -->
  <section>
    <h1 class="py-4">
      Principal
    </h1>

    <h3 class="account-title my-3">
      BALANCES
    </h3>

    <!-- Dropdown -->
    <div class="dropdown d-flex justify-content-end">
      <button class="btn btn-light dropdown-toggle border dropdown-date" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="far fa-calendar-minus"></i> <span class="px-3">Ver Semana</span> <i class="fas fa-chevron-down"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </section>

  <!-- Carousel account state -->
  <div id="carouselExampleIndicators" class="carousel slide pt-3 mb-4" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="">
      <div class="carousel-inner pb-5  ">
        <div class="carousel-item active">
          <div class="card mb-3 py-2" style="max-width: 18rem;">
            <div class="bg-transparent d-flex justify-content-end p-2 pb-0">
              <div class="dropdown pe-2 ">
                <button class="border-0 bg-transparent dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-ellipsis-h dropdown-ellipsis"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
            <div class="card-body py-0">
              <p class="mb-0 account-balance">DE89 3704 0044 0532 0130 00</p>
              <div class="d-flex justify-content-between pt-3">
                <p class="acc-amount">
                  2,560.50  <span>EUR</span>
                </p>
                <p class="d-flex flex-column mb-0 acc-percent" >
                  +40% <span>this week</span>
                </p>
              </div>
              <div class="d-flex justify-content-center">
                <img src="https://image.shutterstock.com/image-vector/wavy-waving-line-zigzag-crisscross-260nw-1949138704.jpg" alt="" style="width: 258px;
                  height: 43px;">
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="card mb-3 py-2" style="max-width: 18rem;">
            <div class="bg-transparent d-flex justify-content-end p-2 pb-0">
              <div class="dropdown pe-2 ">
                <button class="border-0 bg-transparent dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-ellipsis-h dropdown-ellipsis"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
            <div class="card-body py-0">
              <p class="mb-0 account-balance">DE89 3704 0044 0532 0130 00</p>
              <div class="d-flex justify-content-between pt-3">
                <p class="acc-amount">
                  2,560.50  <span>EUR</span>
                </p>
                <p class="d-flex flex-column mb-0 acc-percent" >
                  +40% <span>this week</span>
                </p>
              </div>
              <div class="d-flex justify-content-center">
                <img src="https://image.shutterstock.com/image-vector/wavy-waving-line-zigzag-crisscross-260nw-1949138704.jpg" alt="" style="width: 258px;
                  height: 43px;">
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="card mb-3 py-2" style="max-width: 18rem;">
            <div class="bg-transparent d-flex justify-content-end p-2 pb-0">
              <div class="dropdown pe-2 ">
                <button class="border-0 bg-transparent dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-ellipsis-h dropdown-ellipsis"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
            <div class="card-body py-0">
              <p class="mb-0 account-balance">DE89 3704 0044 0532 0130 00</p>
              <div class="d-flex justify-content-between pt-3">
                <p class="acc-amount">
                  2,560.50  <span>EUR</span>
                </p>
                <p class="d-flex flex-column mb-0 acc-percent" >
                  +40% <span>this week</span>
                </p>
              </div>
              <div class="d-flex justify-content-center">
                <img src="https://image.shutterstock.com/image-vector/wavy-waving-line-zigzag-crisscross-260nw-1949138704.jpg" alt="" style="width: 258px;
                  height: 43px;">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-sm-none d-md-block">
        <button class="carousel-control-prev mt-5 h-50" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" style="height: 50%">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next mt-5 h-50" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Accounts -->
  <section class="mb-5">
    <h3 class="account-title pb-4 ms-3">
      MIS CUENTAS
    </h3>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner mx-auto">
        <div class="carousel-item active ">
          <img src="https://www.bankofthejames.bank/wp-content/uploads/2016/06/All-white-visa-logo-BOTJ-debit-1.png" class="w-75 card-p" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://www.bankofthejames.bank/wp-content/uploads/2016/06/All-white-visa-logo-BOTJ-debit-1.png" class="w-75 card-p" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://www.bankofthejames.bank/wp-content/uploads/2016/06/All-white-visa-logo-BOTJ-debit-1.png" class="w-75 card-p" alt="...">
        </div>
      </div>

      <button class="carousel-control-prev me-5" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <i class="fas fa-chevron-left card-icon px-1" aria-hidden="true"></i>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <i class="fas fa-chevron-right card-icon px-1" aria-hidden="true"></i>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="d-flex justify-content-center mt-3 ">
      <span class="mb-0 badge rounded-pill nomina-pill px-3">Nómina</span>
    </div>
  </section>

  <!-- send money -->
  <section>
    <h4 class="send-money-title ms-2">
      Enviar dinero
    </h4>

    <div class="d-flex flex-wrap justify-content-between ms-2 add-account">
      <div class="add-user">
        <i class="fas fa-user-plus"></i>
      </div>
      <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
      <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
      <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
      <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
      <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
      <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
      <span class="pt-3 text-break">
        <a href="#" class="text-decoration-none">Ver todas</a>
      </span>
    </div>
  </section>

  <!-- Account Activity -->
  <section class="account-activity mb-5 rounded">
    <!-- title -->
    <div class="d-flex justify-content-between p-4">
      <div class="d-flex activity align-items-center">
        <h3 class="mb-0 me-2">Actividad</h3>

        <span class="mb-0 badge rounded-pill px-3">Nómina</span>
      </div>

      <div class="dropdown">
        <button class="dropdown-toggle border-0 rounded-circle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-ellipsis-h pt-1"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>

    <!-- activity -->
    <div class="container-fluid pt-4">
      <div class="row">
        <div class="col-3">
          <div class="activity-icon rounded-circle text-center p-2 ">
          <i class="fas fa-glass-martini-alt text-warning"></i>
          </div>
        </div>
        <div class="col-9">
          <h5 class="title-activity">Serv Einsten Pub - Piata Mica</h5>
          <p class="mb-0 status-secondary">Pendiente</p>
          <p class="mb-0 date">31 Abril 2021, 11:08 PM</p>
          <p class="mb-0 title-activity">$120.00 MXN</p>
        </div>
      </div>
    </div>

    <div class="container-fluid pt-5">
      <div class="row">
        <div class="col-3">
          <div class="activity-icon rounded-circle text-center p-2 ">
            <i class="fas fa-glass-martini-alt text-warning"></i>
          </div>
        </div>
        <div class="col-9">
          <h5 class="title-activity">Serv Einsten Pub - Piata Mica</h5>
          <p class="mb-0 status-primary">Pendiente</p>
          <p class="mb-0 date">31 Abril 2021, 11:08 PM</p>
          <p class="mb-0 title-activity">$120.00 MXN</p>
        </div>
      </div>
    </div>

    <div class="container-fluid pt-5">
      <div class="row">
        <div class="col-3">
          <div class="activity-icon rounded-circle text-center p-2 ">
            <i class="fas fa-glass-martini-alt text-warning"></i>
          </div>
        </div>
        <div class="col-9">
          <h5 class="title-activity">Serv Einsten Pub - Piata Mica</h5>
          <p class="mb-0 status-primary">Pendiente</p>
          <p class="mb-0 date">31 Abril 2021, 11:08 PM</p>
          <p class="mb-0 title-activity">$120.00 MXN</p>
        </div>
      </div>
    </div>

    <div class="container-fluid pt-5">
      <div class="row">
        <div class="col-3">
          <div class="activity-icon rounded-circle text-center p-2 ">
            <i class="fas fa-glass-martini-alt text-warning"></i>
          </div>
        </div>
        <div class="col-9">
          <h5 class="title-activity">Serv Einsten Pub - Piata Mica</h5>
          <p class="mb-0 status-primary">Pendiente</p>
          <p class="mb-0 date">31 Abril 2021, 11:08 PM</p>
          <p class="mb-0 title-activity">$120.00 MXN</p>
        </div>
      </div>
    </div>

    <!-- all movements -->

    <div class="d-flex justify-content-center pt-5 ">
      <button type="button" class="btn rounded border-top-0 activity-btn shadow px-4 py-2 mb-5 bg-body rounded title-activity ">
        Ver todos los movimientos
      </button>
    </div>
  </section>
</div>