// VARIABLES

// Color Scheme
$color-primary: #0fb2ab!important;
$color-secondary: #9191af;
$color-tertiary: #565682;

$color-dark: #212145;
$color-light: #c7cfe4;

$status-primary: #0fb269;
$status-secondary: #c377f0;
$status-terciary: #f1f3f8;

// Font sizes
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;

// Font Variations
$font-weight-light: 300;
$border-rounded: 14.5px;

// Media Queries
$media-xs: 360px;
$media-md: 768px;
$media-lg: 992px;
$media-lgx: 1200px;
$media-xxl: 1440px;
$media-xxxl: 1920px;