@import "abstracts/variables";

// ACCOUNTS CARDS

.carousel-indicators [data-bs-target] {
  width: 7px;
  height: 7px;
  margin: 0 10px 0 0;
  background-color: $color-primary;
  border-radius: 100%;
}

.card-image {
  padding-left: 2rem;
  padding-right: 2rem;

  @media (min-width: $media-md) {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  @media (min-width: $media-lg) {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  @media (min-width: $media-lgx) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (min-width: $media-xxl) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  @media (min-width: $media-xxxl) {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }
}

.card-button-left {
  @media (min-width: $media-lg) {
    padding-left: 8rem;
  }

  @media (min-width: $media-lgx) {
    padding-left: 0;
  }
}

.card-button-right {
  @media (min-width: $media-lg) {
    padding-right: 8rem;
  }

  @media (min-width: $media-lgx) {
    padding-right: 0;
  }
}

.card-icon {
  font-size: 1.7rem;
  color: #000;
}
