$color-secondary: #9191af;


$title-activity: #565682;
$status-primary: #0fb269;
$status-secondary: #c377f0;
$date-activity: #c7cfe4;

body {
  background-color: #edeff4;
}

.carousel-indicators [data-bs-target]{
  width: 7px;
  height: 7px;
  margin: 0 10px 0 0;
  background-color: #0fb2ab;
  border-radius: 100%;
}

.dropdown-toggle::after {
  display: none;
}

.card-p {
  margin-left: 2.1rem;
}

.card-icon {
  font-size: 1.7rem;
  color: #000000;
}

.add-account img {
  width: 58px;
  height: 58px;
  margin: 19px 16px 20px 0;
  border-radius: 21.8px;
  background-color: #0fb2ab;
  max-width: 100%;

  span {
    width: 40px;
    font-size: 16px;
    font-weight: 300;
    color: #565682;
  }

}

.add-user {
  padding: 16px 17px 17px;
  width: 58px;
  height: 58px;
  margin: 19px 16px 20px 0;
  border-radius: 21.8px;
  background-color: #0fb2ab;
  max-width: 100%;
}

//--------------------------

.activity {
  h3 {
    color: $color-secondary;
    font-size: 22px;
    font-weight: 400;
  }
  p {
    color: #212145;
    background-color: #c7cfe4;
  }
}

.title-activity {
  color: $title-activity;
  font-weight: 300;
  font-size: 22px;
}

.account-activity {
  background-color: #fff;
}

.status-secondary {
  color: $status-secondary;
  font-size: 18px;
}

.status-primary {
  color: $status-primary;
  font-size: 18px;
}

.date {
  color: $date-activity;
  font-size: 18px;
}

.activity-icon {
  background-color: #f1f3f8;
}

.activity-btn {
  background-color: #f1f3f8;
  font-size: 18px;
}