$color-secondary: #9191af;
$color-tertiary: #565682;

$status-primary: #0fb269;
$status-secondary: #c377f0;
$date-activity: #c7cfe4;

body {
  background-color: #edeff4;
}

.desktop-menu {
  height: 100vh;
  position: fixed;
  background-color: $date-activity;
  .flex-column {
    height: 100vh;
  }
}

.desktop-content {
  @media (min-width: 992px) {
    margin-left: 17%;
  }
  @media (min-width: 1440px) {
    margin-left: 25%;
  }
}

.toggle-button {
  position: absolute;
  z-index: 1000;
  left: 340px;
  top: 55px;
  background-color: #212145;
  transform: rotate(-90deg);
  i {
    background-color: #9191af;
  }
}

//---------------------------------------

.navbrand-name {
  font-size: 14px;
}

.fa-navbar {
  font-size: 25px;
  color: $color-tertiary;
}

.bg-menu {
  background-color: $color-tertiary;
}

.navbar-icons {
  color: #ffffff;
  font-size: 27px;

  @media (min-width: 992px) {
  color: $color-tertiary;
}
}

.bell-notification::after {
  top: -20px;
  right: 15px;
  position: relative;
  content: "4";
  font-size: 16px;
  width: 24px;
  height: 24px;
  padding: 2px 8px 5px 7px;
  border-radius: 9.7px;
  background-image: linear-gradient(135deg, #f38282, #e35f4b);

  @media (min-width: 992px) {
    top: -23px;
    right: 40px;
  }

}

.user-menu li a {
  color: $color-tertiary;
  font-size: 18px;
  i {
    font-size: 25px;
  }
}

.menu-alert {
  font-size: 14px;
  border-radius: 9.7px;
  background-image: linear-gradient(324deg, #212145 95%, #565682 13%);
}

.offcanvas-body, .list-group-item, .offcanvas-header {
  background-color: $date-activity;
}

.offcanvas-start {
  width: 320px;
}

.menu-brand {
  font-size: 1rem;
  span {
    color: #0fb2ab!important;
  }

  @media (min-width: 992px) {
    font-size: 1.2rem!important;
    font-weight: bolder;
    i {
      font-size: 2rem!important;
      color: #0fb2ab!important;
    }
    span {
      color: #0fb2ab!important;
    }
  }
}

.menu-selected:hover {
  max-width: 90%;
  transition: 0.75s;
  opacity: 0.7;
  border-top-right-radius: 19.4px;
  border-bottom-right-radius: 19.4px;
  background-color: #eef2f6;
  a {
    transition: 0.75s;
    color: #0fb2ab!important;
    i {
      color: #0fb2ab!important;
    }
  }
}

.menu-selected a i {
  color: #a1a2bc;;
}

.help-btn {
  padding-right: 3rem;
}

.close-btn {
  padding-right: 4.5rem;
}
//----------------------------------------

.carousel-indicators [data-bs-target]{
  width: 7px;
  height: 7px;
  margin: 0 10px 0 0;
  background-color: #0fb2ab;
  border-radius: 100%;
}

h1 {
  font-size: 35px;
  font-weight: 300;
  color: $color-tertiary;

  @media (min-width: 992px) {
    font-size: 29px!important;
    font-weight: 300;
    color: $color-tertiary;
  }
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-date {
  border-radius: 14.5px;

  i, span {
    font-size: 18px;
    color: $color-secondary;
  }
}

//-------------------------------

.dropdown-ellipsis {
  color: $color-secondary;
}

.account-balance {
  color: $color-secondary;
  font-size: 17px;
  font-weight: 300;
}

.acc-amount {
  font-size: 36px;

  span {
    font-size: 14.5px;
    color: $color-secondary;
    font-weight: 300;
  }
}

.acc-percent {
 color: $status-primary;
  font-size: 17px;
  span {
    color: $color-secondary;
    font-size: 14.5px;
    font-weight: 300;
  }
}
//--------------------------------

.account-card {
  height: 13rem;
  max-width: 500px;

  @media (min-width: 992px) {
    max-width: 250px;
  }

  @media (min-width: 1024px) {
    max-width: 400px;
  }

}

.account-title {
  font-size: 18px;
  color: $color-secondary;
}

.card-p {
  margin-left: 2.1rem;

  @media (min-width: 992px) {
    margin-left: 2.5rem;
  }
}

.card-icon {
  font-size: 1.7rem;
  color: #000000;
}
.nomina-pill  {
  color: #212145;
  background-color: #c7cfe4;
}


//---------------------------------

.send-money-title {
  color: $color-secondary;
  font-size: 18px;
  font-weight: normal;
}

.add-account  {
  img {
    width: 58px;
    height: 58px;
    margin: 19px 16px 20px 0;
    border-radius: 21.8px;
    background-color: #0fb2ab;
    max-width: 100%;
  }

  span {
    width: 75px;
    font-size: 19px;
    font-weight: 300;
    a {
      color: $color-tertiary;
    }

  }

}

.add-user {
  color: #ffffff;
  padding: 13px 18px 17px;
  width: 58px;
  height: 58px;
  margin: 19px 16px 20px 0;
  border-radius: 21.8px;
  background-color: #0fb2ab;
  max-width: 100%;
}

.see-all {
  color: $color-tertiary;
  font-size: 16px;
}

.see-all:hover {
  text-decoration: underline;
}

//--------------------------

.card-image {
  padding-left: 2rem;
  padding-right: 2rem;

  @media (min-width: 768px) {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  @media (min-width: 992px) {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  @media (min-width: 1440px) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 992px) {
  .card-button-left {
    padding-left: 8rem;
  }

  .card-button-right {
    padding-right: 8rem;
  }
}

@media (min-width: 1440px) {
  .card-button-left {
    padding-left: 0;
  }

  .card-button-right {
    padding-right: 0;
  }
}

//--------------------------

.activity {
  h3 {
    color: $color-secondary;
    font-size: 18px;
    font-weight: 400;
  }
  span {
    font-size: 14.5px;
    font-weight: light;
    color: #212145;
    background-color: #c7cfe4;
  }
}

.title-activity {
  color: $color-tertiary;
  font-weight: 300;
  font-size: 17px;
}

.account-activity {
  background-color: #fff;
}

.status-secondary {
  color: $status-secondary;
  font-size: 14px;
}

.status-primary {
  color: $status-primary;
  font-size: 18px;
}

.date {
  color: $date-activity;
  font-size: 14px;
}

.activity-icon {
  width: 50px;
  background-color: #f1f3f8;
}

.activity-btn {
  background-color: #f1f3f8;
  font-size: 16px;
}